@inject FrontBlazor_AppiGenericaCsharp.Services.AuthService _auth

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CRUD Investigacion</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (Mostrar("/grupoinvestigacion"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="grupoinvestigacion">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grupo Investigacion
                </NavLink>
            </div>
        }

        @if (Mostrar("/semillero"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="semillero">
                    <span class="bi bi-flower1-nav-menu" aria-hidden="true"></span> Semilleros
                </NavLink>
            </div>
        }

        @if (Mostrar("/investigacion"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="investigacion">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Linea Investigacion
                </NavLink>
            </div>
        }

        @if (Mostrar("/universidad"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="universidad">
                    <span class="bi bi-mortarboard-fill-nav-menu" aria-hidden="true"></span> Universidades
                </NavLink>
            </div>
        }

        @if (Mostrar("/areaaplicacion"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="areaaplicacion">
                    <span class="bi bi-grid-fill-nav-menu" aria-hidden="true"></span> Áreas de Aplicación
                </NavLink>
            </div>
        }

        @if (Mostrar("/objetivodesarrollosostenible"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="objetivodesarrollosostenible">
                    <span class="bi bi-globe-nav-menu" aria-hidden="true"></span> ODS
                </NavLink>
            </div>
        }

        @if (Mostrar("/participagrupo"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="participagrupo">
                    <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Participa en Grupo
                </NavLink>
            </div>
        }

        @if (Mostrar("/participasemillero"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="participasemillero">
                    <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Participa en Semillero
                </NavLink>
            </div>
        }

        @if (Mostrar("/areaconocimiento"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="areaconocimiento">
                    <span class="bi bi-journal-bookmark-fill-nav-menu" aria-hidden="true"></span> Áreas de Conocimiento
                </NavLink>
            </div>
        }

        @if (Mostrar("/aalinea"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="aalinea">
                    <span class="bi bi-link-45deg-nav-menu" aria-hidden="true"></span> Área Ap - Línea
                </NavLink>
            </div>
        }

        @if (Mostrar("/aclinea"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="aclinea">
                    <span class="bi bi-link-45deg-nav-menu" aria-hidden="true"></span> Área Conoci - Línea
                </NavLink>
            </div>
        }

        @if (Mostrar("/semillerolinea"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="semillerolinea">
                    <span class="bi bi-link-45deg-nav-menu" aria-hidden="true"></span> Semillero - Línea
                </NavLink>
            </div>
        }
             @if (Mostrar("/odslinea"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="odslinea">
                    <span class="bi bi-link-45deg-nav-menu" aria-hidden="true"></span> ODS - Línea
                </NavLink>
            </div>
        }
         @if (Mostrar("/ruta"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ruta">
                    <span class="bi bi-permisos-nav-menu" aria-hidden="true"></span> Ruta
                </NavLink>
            </div>
        }

      
 @if (Mostrar("/rol"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rol">
                    <span class="bi bi-roles-nav-menu" aria-hidden="true"></span> Rol
                </NavLink>
            </div>
        }
     

        @if (Mostrar("/usuario"))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuario">
                    <span class="bi bi-usuarios-nav-menu" aria-hidden="true"></span> Usuarios
                </NavLink>
            </div>
        }

    </nav>
</div>

@code {
    private bool Mostrar(string ruta)
    {
        return _auth.EstaAutenticado && _auth.TieneAcceso(ruta);
    }
}